<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ECサイト - 商品一覧</title>
</head>

<body>
<a href="{% url 'product_list' %}">商品一覧</a>
<hr>

<ul>
  {% for product in products %}
  <li>({{ product.category.name }}) <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>: {{ product.price }}円</li>
  {% endfor %}
</ul>

{% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}">&lt; 前のページ</a>
    {% else %}
        <span>&lt; 前のページ</span>
    {% endif %}

    {{ products.number }}ページ

    {% if products.has_next %}
      <a href="?page={{ products.next_page_number }}">次のページ &gt;</a>
    {% else %}
        <span>次のページ &gt;</span>
    {% endif %}

</body>
</html>